<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>tanfolyam</title>

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/spectrum/spectrum.css" />
  <link rel="stylesheet" href="/bower_components/bootstrap-select/dist/css/bootstrap-select.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <link rel="stylesheet" href="lib/phonecaller/phonecaller.css" />

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

</head>
<body ng-app="tanfolyamApp" ng-cloak>
<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container" ng-controller="mainController as mainVm">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li ng-class="{'active': $index == 0}" ng-repeat="item in mainVm.menuItems track by item.id">
        <a href="#">{{ item.title }}</a>
      </li>
    </ul>
    <h3 class="text-muted">tanfolyam</h3>
  </div>

  <div ng-controller="registrationController as vm">
    <form novalidate
          name="registrationForm"
          ng-submit="vm.register()"
    >
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="form-group">
            <label for="name">Név:</label>
            <input type="text"
                   name="name"
                   class="form-control"
                   id="name" placeholder="Név"
                   ng-model="vm.model.name"
                   ng-required="true"
                   ng-maxlength="5"
            />
            <div ng-messages="registrationForm.name.$error" role="alert">
              <div ng-message="required">Please enter a value for this field.</div>
              <div ng-message="maxlength">This field can be at most 5 characters long.</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group">
            <label for="password">Jelszó:</label>
            <input type="password"
                   name="password"
                   class="form-control"
                   id="password"
                   placeholder="Jelszó"
                   ng-model="vm.model.password"
                   ng-required="true"
                   validate-password=""
            />
            <div ng-messages="registrationForm.password.$error" role="alert">
              <div ng-message="required">Please enter a value for this field.</div>
              <div ng-message="pw">Nem megfelelő jelszó.</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="vm.model.email" type="email" class="form-control" id="email" name="email" placeholder="Email">
            <div ng-messages="registrationForm.email.$error" role="alert">
              <div ng-message="required">Please enter a value for this field.</div>
              <div ng-message="email">This field must be a valid email address.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-12">
          <select name="gender"
                  id="gender"
                  ng-model="vm.model.gender"
                  ng-options="item.value as item.text for item in vm.genderOptions"
                  required
          >

          </select>
        </div>
        <div class="col-md-12">
          <input type="text"
                 name="birthName"
                 id="birthName"
                 class="form-control"
                 placeholder="Születési név"
                 ng-model="vm.model.birthName"
                 ng-required="vm.model.gender === 1"
          />
        </div>
        <div class="col-md-12">
          <select name="interest"
                  id="interest"
                  ng-model="vm.model.interest"
                  ng-options="item.value as (item.text | lowercase | unaccent) for item in vm.interestOptions | orderBy: 'text'">

          </select>
        </div>

        <p>{{ vm.model }}</p>

        <div class="col-md-12">
          <div class="checkbox">
            <label>
              <input data-content="Kötelező mező!" value="X" required type="checkbox" name="approve" id="approve"> Elfogadom a feltételeket
            </label>
          </div>
        </div>
      </div>
      <!--<div class="row">
        <br />
        <br />

        <div class="col-md-6">
          <div class="phonecaller-wrapper"></div>
        </div>
      </div>
      <div class="row">
        <br />
        <br />

        <div class="col-md-6">
          <div class="phonecaller-wrapper"></div>
        </div>
      </div>-->
      <div class="row">
        <div class="col-md-12">
          <button id="btnSubmit"
                  type="submit"
                  class="btn btn-success"
                  ng-disabled="registrationForm.$invalid"
          >Regisztráció</button>
        </div>

      </div>
    </form>
  </div>

  <div class="footer">
    <p>♥ from the Yeoman team</p>
  </div>
</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/spectrum/spectrum.js"></script>
<script src="/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-messages/angular-messages.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/plugins.js -->
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
<!-- endbuild -->

<script type="text/javascript" src="lib/phonecaller/phonecaller.js"></script>

<!-- build:js scripts/main.js -->
<script src="scripts/main.js"></script>
<!-- endbuild -->

<script src="scripts/main/validationDirectives.js"></script>
<script src="scripts/main/mainFilters.js"></script>
<script src="scripts/main/mainController.js"></script>
<script src="scripts/registration/registrationController.js"></script>
<script src="scripts/validate.js"></script>
</body>
</html>
