<div>
  <!--<table class="table table-bordered table-striped">
    <tr>
      <th>Név</th>
      <th>E-mail</th>
      <th>Nem</th>
      <th>Szül.név</th>
      <th></th>
    </tr>
    <tr ng-repeat="user in vm.users">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.birthName }}</td>
      <td>
        <a ui-sref="edit({ userId: user.id })">Edit</a>
      </td>
    </tr>
  </table>-->

  <div ui-grid="vm.tableOpts" ui-grid-move-columns></div>
</div>
